@media all and (max-width: 1610px)
{
	header .left-sep{
		flex-basis: 210px;
	}
}

@media all and (min-width: 1600px)
{
	.pw, .page-width{
		width: 1500px;
	}
	.webshop-product-top .grid-container > .items .item .title h3, .related-products .grid-container > .items .item .title h3{
		font-size: 1.15em;
	}
}

@media all and (min-width: 2000px)
{
	.pw, .page-width{
		width: 1900px;
	}
	.webshop-product-top .grid-container > .items .item .title h3, .related-products .grid-container > .items .item .title h3{
		font-size: 1.35em;
	}
}

/* 1024 - 1050 px - MEDIUM */
@media all and (max-width: 1050px)
{
	.szechenyi-terv-plus{
		display: none !important;
	}
	.cat-menu ul li .toggler{
		width: 45px;
	}
	body{
		padding-top: 59px !important;
	}
	.website, .pw, .page-width,
	body.homepage .home .pw,
	.pwf,
	body.product-page .website, body.user .website, body.orderpage .website,
	body.article .website
	{
		width: 100%;
	}

	.slideShow {
		width: 817px;
	}

	.share-box, .cart-float {
		position:relative;
		right: auto;
		left: auto;
		top: auto;
		bottom: auto;
		display: none;
	}

	.sub-categories .item{
		flex-basis: calc(100% / 2);
	}

	.mobile-sharer .share-box {
		display: table;
		 table-layout:fixed;
		width: 100%;
	}

	.product-view > .product-data{
		padding: 0;
	}

	.product-view > .product-data .top-datas > div{
		flex-basis: 100%;
	}
	.product-view > .product-data .top-datas .images{
		margin: 0;
		padding: 0;
	}

	.mobile-sharer .share-box > div {
		display: table-cell;
		text-align: center;
	}

	.mobile-sharer .share-box > div a {
		display: block !important;
		text-align: center !important;
		color: white !important;
		padding: 8px !important;
	}

	.general-sidebar .menu li.menu-item a {
		font-size: 1em;
	}
	.menu-widget .head {
		font-size: 0.9em;
	}
	.menu-widget .slides {
		max-width: 203px;
	}
	header{
		padding: 0 10px;
	}
	header > .pw > .flex{
		align-items: center;
	}
	header > .pw > .flex > .logo{
		flex-basis: 50px;
		text-align: center;
	}
	header > .pw > .flex > .logo img{
		height: 50px;
		max-height: 50px;
	}
	header .mobile-main {
		flex: 1;
		display: -webkit-box !important;
	  display: -ms-flexbox !important;
	  display: flex !important;
		padding: 0 0 0 15px;

		.quicknav{
			display: -webkit-box !important;
		  display: -ms-flexbox !important;
		  display: flex !important;
			align-items: center;

			& > div {
				a{
					padding: 0 10px;
				}
			}

			.kedvencek{
				position: relative;
				.badge {
					position: absolute;
					right: -8px;
					top: -10px;
					background: $color-green;
					font-size: 0.7rem;
				}
			}
		}

		.cart {
			flex: 1;
			font-size: 0.8rem;
			border: none;
			margin: 0 20px 0 20px;
		}

		.mobilnav{
			flex-basis: 30px;
			position: relative;
			.mobilnavtoggler{
				width: 100%;
				height: 100%;
				position: relative;
				cursor: pointer;

				i {
					position: absolute;
					left: 50%;
					top: 50%;
					-webkit-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
					color: $color-green;
				}
			}
		}
		.nav{
			padding: 0;
			ul{
				height: auto !important;
			}
			ul > li {
				flex-basis: 100%;
				height: auto;
				& > a {
					text-transform: none;
					font-weight: 400;
					color: $color-green;
				}

				&.has-sub{
					a{
						line-height: 38px !important;
						height: 38px !important;
					}
				}
				& > .sub{
					position: relative;
					width: 100%;
					min-width: 100%;
				}
				& > .sub .inside ul li a{
					padding: 0 15px;
				}
			}
		}
	}
	.cart > .holder{
		justify-content: flex-end;
	}
	.cart .cash .badge{
		position: absolute;
		top: 0;
		right: -15px;
		font-size: 0.8rem;
	}
	.cart .floating {
    display: none;
    right: 0;
    top: 59px;
    width: 100%;
    position: fixed;
    z-index: 10;
    background: #ffffff;
    box-shadow: 0 5px 50px -10px black;
    border-top: 5px solid #15a98c;
    left: 0;
	}
	.home .filter-sidebar, .home .right-sidebar{
		flex-basis: 100%;
	}
	.home{
		padding: 0 15px;
	}
	.home .inside-content{
		padding: 0;
	}
	.news .articles.no-slided > article, .news-list .articles.no-slided > article{
		flex-basis: 100%;
	}
	.cat-menu{
		display: none;
	}
	.mobil-nav-holder .cat-menu{
		display: block;
	}
	.search-finder .contents > div > form > .wrapper > div.left-side,
	.search-finder .contents > div > form > .wrapper > div.right-side{
		flex-basis: 100%;
	}
	.search-finder .tabs ul li{
		flex-basis: 100%;
	}
	footer .main > .pwf > .wrapper > .flex > div{
		flex-basis: 100%;
	}
	.news .articles article, .news-list .articles article{
		padding: 5px 15px;
	}
	.home .filter-sidebar, .home .right-sidebar{
		padding-top: 10px;
	}
	.category-listing .list-view > .grid-layout .grid-row.products{
		padding: 0;
	}
	.website {
    margin: 0;
	  margin-top: 0!important;
	  padding: 15px;
	}
	.category-listing h1 {
    margin: 15px 0 5px 0 !important;
	}
	.orders .wrapper > .orders-list-group
	{
		flex-basis: 60%;
		font-size: 0.8rem;
	}
	.orders .wrapper > .orders-list-limit{
		flex-basis: 40%;
		font-size: 0.8rem;
	}

	.orders .wrapper > .orders-list-group,
	.orders .wrapper > .orders-list-limit
	{
		.input-group-addon, select{
			font-size: 0.7rem;
		}
	}

	md-toast{
		top: inherit !important;
		bottom: 0px !important;
		left: 50% !important;
		right: 0 !important;
		transform: translateX(-50%) !important;
	}

	.category-listing .push-cart-favorite{
		float: none;
		margin:0 0 10px 0;
	}
	.category-listing .push-cart-favorite a{
		font-size: 1rem;
		text-align: center;
	}
	.webshop-product-top .list-container > .items > .item > .wrapper .fav, .related-products .list-container > .items > .item > .wrapper .fav{
		flex-basis: 30px;
	}
	.webshop-product-top .list-container > .items > .item > .wrapper .maindata, .related-products .list-container > .items > .item > .wrapper .maindata{
		flex-basis: calc(65% - 50px);
		a{
			line-height: 32px;
		}
	}
	.webshop-product-top .list-container > .items > .item > .wrapper .buttons .add button, .related-products .list-container > .items > .item > .wrapper .buttons .add button{
		.t{
			display: none;
		}
	}
	.webshop-product-top .list-container > .items > .item > .wrapper .buttons, .related-products .list-container > .items > .item > .wrapper .buttons{
		flex-basis: 60%;
	}
	.webshop-product-top .list-container > .items > .item > .wrapper .prices, .related-products .list-container > .items > .item > .wrapper .prices{
		flex-basis: 35%;
	}
	.webshop-product-top .list-container > .items > .item > .wrapper .stockinfo, .related-products .list-container > .items > .item > .wrapper .stockinfo{
		padding: 0;
		flex-basis: 40%;
	}
	.webshop-product-top .list-container > .items > .item > .wrapper .prices .wrapper .current, .related-products .list-container > .items > .item > .wrapper .prices .wrapper .current{
		padding: 0 5px;
	}

	.webshop-product-top .list-container > .items > .item > .wrapper .fav, .related-products .list-container > .items > .item > .wrapper .fav{
		order: 0;
	}
	.webshop-product-top .list-container > .items > .item > .wrapper .maindata, .related-products .list-container > .items > .item > .wrapper .maindata{
		order: 1;
	}
	.webshop-product-top .list-container > .items > .item > .wrapper .prices, .related-products .list-container > .items > .item > .wrapper .prices{
		order: 2;
	}
	.webshop-product-top .list-container > .items > .item > .wrapper .stockinfo, .related-products .list-container > .items > .item > .wrapper .stockinfo{
		order: 3;
	}
	.webshop-product-top .list-container > .items > .item > .wrapper .buttons, .related-products .list-container > .items > .item > .wrapper .buttons{
		order: 4;
	}

	.webshop-product-top .list-container > .items > .item > .wrapper .stockinfo .rack, .related-products .list-container > .items > .item > .wrapper .stockinfo .rack{
		padding: 0;
		height: 32px;
		line-height: 32px;
	}

}
/* 0 - 1023 px - SMARTPHONE */
@media all and (max-width: 1023px)
{
	.galleries .folder-list > .folder,
	.galleries .image-list > div{
		flex-basis: calc(100% / 3);
	}
	.fb-page {
		display: none !important;
	}

	a.fb-link {
		background: #3a5795;
		border: 2px solid lighten(#3a5795, 5%);
		padding: 8px;
		font-size: 1.4em;
		margin: 5px 0;
		color: white;
		display: block;
		width: 100%;
	}

	.website {
		margin: 0;
		margin-top: 67px;
	}

	header {
		position: fixed;
		top: 0;
		width: 100%;
		display: block;
		z-index: 1111;
		font-size: 1.4em;
		border-bottom: 2px solid #e6e6e6;
	}

	.slideShow {
		display: none !important;
	}

	.general-sidebar {
		height: 100%;
		position: fixed;
	    width: 100%;
	    z-index: 111;
	    float: none;
	    display: none;
	    background: rgba(0, 0, 0, 0.91);
	    padding-bottom: 25px;
	}
	.general-sidebar.opened {
		display:block;
	}
	.general-sidebar .menu {
		width: 70%;
		overflow:auto;
		height: 100%;
	}
	.general-sidebar .menu li.menu-item a {
		font-size: 1.5em;
	}

	.site-container {
		width: 100%;
		float: none;
		display: block;
	}

	.grid-layout:not(.kpm),
	.grid-layout:not(.kpm) .grid-row {
		width: 100% !important;
		display: block;
	}

	.product-view,
	.account {
		.grid-layout:not(.kpm) *[class^=grid-row],
		.grid-layout:not(.kpm),
		.grid-layout:not(.grid-np):not(.kpm) > .grid-row:first-child,
		.grid-layout:not(.grid-np):not(.kpm) > .grid-row:last-child {
			padding: 0 !important;
		}
	}

	.flatInfoBox > div {
		font-size: 0.9em;
	}

	.grid-layout .grid-row:after {
		content:"";
		position: relative;
		height: 1px;
		width:100%;
		clear:both;
	}

	.referring-view{
		.kimelt-link {
			display: none;
		}

		.partner-referer-orders h2{
			line-height: 1;
			margin: 10px 0;
		}
	}

	.account {
		h1 {
			margin: 20px 0 25px 0;
		}
	}

	.order {
		.serial {
			float: none;
			width: 100%;
		}

		h1 {
			margin: 10px 0;
		}
	}

	.mobile-header {
		line-height: 3;

		.cart, .place-search, .acv, .ct {
			float: right;

			a {
				display: block;
				padding: 0 15px;
				color: #FF99B5;
			}
		}
		.menu-switcher {
			float: left;
			padding: 0 25px;
		}
		.menu-switcher:active {
			background: #222;
		}

		.cart {
			a {
				text-decoration: none;
				color: white;
			}
			.cart-item-num-v {
			    background: #fff;
			    color: $color-pr;
			    font-weight: bold;
			    font-size: 0.65em;
			    border-radius: 20px;
			    padding: 0 6px;
			}
		}
	}

	.product-view .main-view{
		display: block;
		.images, .data-view {
			width: 100%;
			display: block;
		}
		.images .all {
			margin: 0 auto;
			width: 375px;
		}

		.free-transport {
			margin: 10px 0;
		}

		.links {
			padding: 0 15px;
		}
		.data-view {
			padding: 0 15px;
			.action-bar a {
				font-size: 1.2em;
			}
		}
		.prices {
			.base {
				float: left;
			}
			.partner-price {
				float: right;
			}
		}

		.status {
			font-size: 1.5em;
		}

		#cart-msg {
			font-size: 1.4em;
		}
	}
	.product-view {
		.buy-basic-info {
			margin-top: 15px;
		}
	}

	.dropdown-list-container .dropdown-list-selecting.showed {
		z-index: 10;
	}
	.dropdown-list-title {
		font-size: 1.8em;
	}
	.dropdown-list-container .dropdown-list-selecting > div{
		font-size: 1.8em;
		padding: 10px 0;
	}
	.dropdown-list-container .dropdown-list-selecting{
		top: 48px;
	}

	.category-listing{
		.category-title .filters {
			display: block;
			width: 100%;
			margin-bottom: 15px;
		}

		h1 {
			display: block;
			margin: 15px;
		}
	}

	.product-ajanlott .items .item,
	.related-products .items .item {
		width: 100%;
		display: block;
	}

	.webshop-product-top .items .item{
		margin: 0;
		.image, .details, .buttons {
			float: none;
			width: 100%;
			display: block;
		}

		.buttons .holder {
			.watch, .order {
				float: left;
				width: 50%;
				height: auto !important;

				a {
					padding: 25px 5px;
				}
			}
		}

		.price {
			font-size: 0.90em;
		}

		.extra-info{
			width: 100%;
			margin: 0;
			.each {
				line-height: 1;
				padding: 5px;
				font-size: 0.65em;
			}
		}
	}
	.nextOrded .steps {
		padding: 10px;
	}

	.divCol,
	.nextOrded .col2  {
		height: auto !important;
		border: none !important;
	}
	.order-contact-info * {
		text-align: left !important;
		line-height: 1.2;
	}

	.nextOrded .col1,
	.nextOrded .col2 {
		padding: 0 !important;
	}

	.nextOrded .allStepView ul li {
		float: none;
		width: 100%;
	}
	.nextOrded .allStepView ul li.active:after {
		display: none;
	}
	.nextOrded .allStepView ul li.done:after{
		left: auto;
		top: 50%;
	}

	.shop-search-view {
		 .near-of-me{
		 	text-align: center;

		 	.place-details {
		 		.name {
		 			margin: 8px 0;
			 		line-height: 1;
			 	}
		 	}

		 	.infos {
		 		text-align: center;
		 		border-top: 1px solid lighten($color-pr, 20%);
		 		padding-top: 5px;
		 		margin-top: 5px;
		 	}
		 }

		 .shop-list {
		 	.logo {
		 		text-align: center;
		 	}

		 	.shop {
		 		border-bottom: 5px solid $color-sec;

		 		.infos {
			 		text-align: center;
			 		border-top: 1px solid lighten($color-sec, 10%);
			 		padding: 10px 0;
			 		margin: 15px 15px 5px 15px;
			 	}
		 	}
		 	.shop:last-child {
		 		border-bottom: none;
		 	}
		 }
	}

	.shop-cat .cat {
		width: 50%;
	    display: block;
	    float: left;
	}

	footer .menu li a {
		font-size: 1.15em;
		line-height: 1.55;
	}

	.hide-on-mobile {
		display:none !important;
	}
	.show-on-mobile {
	  display: block !important;
	}
}

/* 0 - 640 px - SMARTPHONE */
@media all and (max-width: 640px)
{
	.galleries .folder-list > .folder,
	.galleries .image-list > div{
		flex-basis: calc(100% / 2);
	}
	.kollega-list {

		ul {
			li {
				width: 33.333333333%;
			}
			li + .clr {
				display: none;
			}
		}
	}
	.szechenyi-info{
		height: auto;
		width: 35%;
	}
	.szechenyi-info img {
    max-height: 100%;
    height: auto;
    width: 100%;
    max-width: 100%;
	}
}

/* 0 - 375 px - SMARTPHONE */
@media all and (max-width: 398px)
{
	.galleries .folder-list > .folder,
	.galleries .image-list > div{
		flex-basis: calc(100% / 1);
	}
	.product-view .product-desc {
	  width: 100% !important;

	  img {
	  	width: 90%;
	  	height: auto;
	  }
	}
	.webshop-product-top .grid-container > .items .item, .related-products .grid-container > .items .item{
		flex-basis: 100% !important;
	}
}

/* 0 - 375 px - SMARTPHONE */
@media all and (max-width: 375px)
{
	body {
		font-size: 0.9em;
	}

	.floating-box.contact-msg .labtext {
		left: -85px;
	}

	.product-view .main-view .images .all {
		width: 300px;
	}

	.switcherView .inset {
		iframe {
			width: 100% !important;
		}
	}
	.viewSwitcher > div {
		width: 100%;
	}
	.website {
		margin-top: 61px;
	}

}
